@charset "utf-8";


@media all and (max-width:768px){
    .content{width:100%;height:100%}
    .content .lists{width:80%;height:100%}
    .list .img_num{margin:0 auto}
    .list .img_num li{width:33.3%;padding-top:4%}
    .list .img_num .portfo img{margin-top:-11.8%}
    
    .img_num .portfo img{width:100%}
    
    .list .img_num span{position:absolute;background-color:#000;width:213%;margin-top:3%}
    .list .text2{position:absolute;top:50.2%;width:28%;height:36vh;right:5.4%}
    
    .lists .down{position:absolute;right:14%;}
    .lists .up{position:absolute;right:14%}
}